<?xml version="1.0" encoding="utf-8" ?>
    
<configuration>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>      
      <services>       
        <service name="ImageMatchHost.ImageMatchHost.ImageMatchService" behaviorConfiguration="myMatchServiceBehave">       
          <host>       
            <baseAddresses>       
              <add baseAddress="http://localhost:9001/ImageMatchService"/>       
              <add baseAddress="net.tcp://localhost:9002/ImageMatchService"/>       
            </baseAddresses>       
          </host>       
          <endpoint address="http://localhost:9001/ImageMatchService" binding="basicHttpBinding" contract="ImageMatchHost.ImageMatchHost.IimageMatchService"/>       
          <endpoint address="net.tcp://localhost:9002/ImageMatchService" binding="netTcpBinding" contract="ImageMatchHost.ImageMatchHost.IimageMatchService"/>       
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>       
          <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>       
        </service>       
      </services>       
      <behaviors>       
        <serviceBehaviors>       
          <behavior name="myMatchServiceBehave">       
            <serviceMetadata httpGetEnabled="true"/>       
          </behavior>       
        </serviceBehaviors>       
      </behaviors>       
    </system.serviceModel>
  <appSettings>
    
      <add key="Rotate" value="true" />
      <add key="UniquenessThreshold" value="0.8" />
      <add key="ChannelsCount" value="2" />
      <add key="HessianThresh" value="1500" />
    <add key="RotateDegree" value="90" />
    
  </appSettings>
</configuration>